:root{
  --heading-bgs: IndianRed;
  --font-color: black;
  --main-header: PaleoGoldenRod;
  --footer-bg: PaleGoldenRod ;
  --main-content-bg: PaleGoldenRod;
  --main-content-border: black;
}

body {
  background: radial-gradient(#1A3E4C 25%, #092834 60%);
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.content {
  min-height: calc(100vh - 136px);
}

[class^='col-'] {
  margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5 {
    color: var(--heading-bgs);
}

.container {
  max-width: 900px;
}

header {
  margin: auto;
  border-bottom: solid 1px var(--main-header-border);
  background-color: var(--main-header);
  box-shadow: 1px -1px 8px 1px rgba(107, 102, 63, .9);
}

header .navbar-brand {
    background-color: var(--heading-bgs);
    text-align: center;
    padding: 0.7em 4em;
    color: #000;
}

.nav > li > a {
  color: var(--heading-bgs) !important;
  text-decoration: none;
  color: inherit;
  text-shadow: none !important;
}

.nav > li > a.active {
  color: red;
}

.nav > li > a:hover {
  color: white;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  background-color: transparent;
}

section.container {

    margin: 1em auto;
    margin-bottom: 3em;
    background-color: var(--main-content-bg);
    padding: .5em 1.75em 1em 1.75em;
    box-shadow: 0px 7px 10px 3px rgb(11, 14, 14);
    border-radius: .2em;
}

footer {
    background-color: var(--footer-bg);
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    text-align: center;
    width: 100%;
    border-top: .5em solid var(--heading-bgs);
    position: relative;
}

.portfolio-item {
  height: auto;
  text-align: center;
}

.portfolio-item:hover .overlay {
  opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255,0,0,0.6);

}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

